This notebook pulls wildfire point data from Cal Fire, then cleans the data.

In [2]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [267]:
response = urllib.request.urlopen('https://www.fire.ca.gov/incidents/2020/')
html = response.read()
soup = BeautifulSoup(html,'html.parser')
souplist = soup.text.split('create_map([')
sl2 = souplist[1].split(']);\n')
string = sl2[0].split('{')[1:]

In [268]:
list_of_incidents = []
for idx, inc in enumerate(string):
  if inc[:12] == '"IncidentId"':
    list_of_incidents.append(inc)

List of fire incidents

In [ ]:
#list_of_incidents

In [270]:
len(list_of_incidents)

260

Pull out relevant information

In [271]:
list_of_fires = []
for i in range(len(list_of_incidents)):
  single_incident = list_of_incidents[i][:-1].split(',')
  temp_list = []
  for j in single_incident:
    if 'Mercury' in j:
      print(single_incident)
    if '"Name":' in j:
      #print(f'{i},{j[8:-1]}')
      temp_list.append(j[8:-1])
    if 'StartedDate' in j:
      #print(j[15:-1])
      temp_list.append(j[15:-1])
    if 'Longitude' in j:
      #print(j[12:])
      temp_list.append(j[12:]) 
    if 'Latitude' in j:
      #print(j[11:])
      temp_list.append(j[11:])
    #print(temp_list)
  list_of_fires.append(temp_list)

In [272]:
#list_of_fires

In [273]:
len(list_of_fires)

260

In [274]:
import pandas as pd
df = pd.DataFrame(list_of_fires,columns=['Name', 'Lat', 'Lon', 'Date'])
df

               Name          Lat            Lon        Date
0        Bear Fire     40.511092   -123.6378411  2020-02-15
1     Antelope Fire   39.6923001   -120.3291855  2020-02-17
2       Beegum Fire  40.33583333  -122.84722222  2020-02-23
3         Wood Fire     40.62155     -120.49392  2020-02-23
4     Baseball Fire  39.75638899  -122.94111111  2020-02-25
..              ...          ...            ...         ...
255     Willow Fire  32.75277778      -116.9075  2020-12-02
256     Thomas Fire    41.591948    -120.374514  2020-12-03
257    Cornell Fire     34.33622       -119.078  2020-12-07
258  Sanderson Fire     33.93244     -117.03459  2020-12-13
259      Creek Fire     33.40047     -117.25023  2020-12-23

[260 rows x 4 columns]

Change dates to datetime. Change Lat/Lon to numeric.

In [275]:
df["Date"] = pd.to_datetime(df["Date"])
df["Lon"] = pd.to_numeric(df["Lon"])
df["Lat"] = pd.to_numeric(df["Lat"])

How many Lat/Long values are zero?

In [276]:
df[df['Lat']==0.0].reset_index()

Empty DataFrame
Columns: [index, Name, Lat, Lon, Date]
Index: []

In [277]:
zeros = len(df[df['Lat']==0.0])
print(f'Found {zeros} records with no lat/long. New df should be size {len(df)-zeros}')

Found 0 records with no lat/long. New df should be size 260

Remove records with zero value Lat/Long

In [291]:
df_notna = df[df['Lat']!=0.0].sort_values(by='Name').reset_index()
df_notna

     index           Name        Lat         Lon       Date
0      163       166 Fire  34.934420 -119.579500 2020-08-03
1      250       257 Fire  41.443500 -120.870540 2020-11-17
2      194      3-19 Fire  39.276000 -123.013667 2020-08-18
3      181       3-2 Fire  35.519723 -120.801074 2020-08-16
4      187       4-8 Fire  39.555943 -122.501246 2020-08-17
..     ...            ...        ...         ...        ...
255    255    Willow Fire  32.752778 -116.907500 2020-12-02
256     37   Willow Fire   37.994368 -122.002811 2020-06-06
257      3      Wood Fire  40.621550 -120.493920 2020-02-23
258    205  Woodward Fire  38.018089 -122.836701 2020-08-18
259    228      Zogg Fire  40.539270 -122.566560 2020-09-27

[260 rows x 5 columns]

Inspect Lat/Long values

In [292]:
sorted(df_notna['Lat'].unique())

[-118.46115,
 32.580882,
 32.62212,
 32.73044,
 32.75277778,
 32.765615000000004,
 32.93432,
 33.27665,
 33.37579,
 33.40047,
 33.454896000000005,
 33.48429,
 33.551838000000004,
 33.565093,
 33.623968,
 33.638067,
 33.65263,
 33.73614,
 33.743842,
 33.764357000000004,
 33.773754,
 33.776033,
 33.782532,
 33.78275,
 33.82925,
 33.83167,
 33.861053999999996,
 33.877257,
 33.88831,
 33.893351,
 33.924085999999996,
 33.93244,
 33.93327,
 33.934137,
 33.969570000000004,
 33.99139,
 34.01389,
 34.014728000000005,
 34.028116,
 34.033429999999996,
 34.044470000000004,
 34.08056,
 34.135626,
 34.146195,
 34.160265,
 34.173629999999996,
 34.182435999999996,
 34.25143,
 34.29475,
 34.336220000000004,
 34.3428,
 34.39464,
 34.438759000000005,
 34.46182,
 34.467915000000005,
 34.47438,
 34.51853,
 34.542742,
 34.563,
 34.63309,
 34.65979,
 34.679,
 34.75844,
 34.773809,
 34.93442,
 34.93929,
 34.962524,
 35.143570000000004,
 35.17977,
 35.27678,
 35.30742,
 35.308259,
 35.310132,
 35.34237,
 35.351065000000006,
 35.351459999999996,
 35.393889,
 35.40953,
 35.430440000000004,
 35.43128,
 35.433519700000005,
 35.472114000000005,
 35.519723,
 35.61521,
 35.629059999999996,
 35.69993,
 35.891329999999996,
 35.90835,
 35.9497,
 35.94979,
 35.9789,
 35.9994,
 36.075003,
 36.09493,
 36.09876,
 36.2644,
 36.3011,
 36.37085,
 36.4463,
 36.5537,
 36.60239,
 36.653,
 36.69845,
 36.750186,
 36.822759999999995,
 36.90933,
 36.967854200000005,
 36.97511,
 37.034839,
 37.06641,
 37.080529999999996,
 37.083806,
 37.091637,
 37.11715,
 37.11806,
 37.118075,
 37.135474,
 37.1487,
 37.166733,
 37.171620000000004,
 37.18725,
 37.19147,
 37.229703,
 37.329163,
 37.377309999999994,
 37.40827,
 37.423190000000005,
 37.439437,
 37.46265,
 37.463636,
 37.463770000000004,
 37.518879,
 37.536015,
 37.61955,
 37.640440000000005,
 37.719840000000005,
 37.813779,
 37.82066,
 37.821737,
 37.919382,
 37.977309000000005,
 37.98337,
 37.994368,
 38.018089,
 38.027921,
 38.029959999999996,
 38.03106,
 38.07741,
 38.082640000000005,
 38.183,
 38.196892999999996,
 38.216134000000004,
 38.21614,
 38.224849,
 38.22554,
 38.232281,
 38.234320000000004,
 38.403290000000005,
 38.420382000000004,
 38.424015999999995,
 38.464074,
 38.470809,
 38.474502,
 38.48193,
 38.49375,
 38.51474,
 38.520981,
 38.561840000000004,
 38.56295,
 38.568000000000005,
 38.58488,
 38.659387,
 38.686478,
 38.697834,
 38.733421,
 38.81111,
 38.824371,
 38.827754999999996,
 38.840068,
 38.8825,
 38.89178,
 38.89695,
 38.98487,
 38.99,
 39.009454,
 39.012743,
 39.013591,
 39.10112,
 39.11307,
 39.1296,
 39.14783,
 39.181047,
 39.275999999999996,
 39.29241,
 39.31313,
 39.325959999999995,
 39.35498,
 39.3637,
 39.36894,
 39.37577,
 39.3784,
 39.42208,
 39.43227,
 39.45493,
 39.4935,
 39.506597,
 39.516940000000005,
 39.52408,
 39.52452,
 39.555943,
 39.647686,
 39.6923001,
 39.702438,
 39.716713,
 39.75638899,
 39.774968,
 39.775999999999996,
 39.8174372,
 39.82454,
 39.922415,
 40.000132,
 40.09554,
 40.09571,
 40.274,
 40.33583333,
 40.34659,
 40.36764,
 40.388690000000004,
 40.41486,
 40.420885999999996,
 40.43203,
 40.44793,
 40.462621,
 40.476459999999996,
 40.511092,
 40.53927,
 40.55823,
 40.590714,
 40.62155,
 40.63442,
 40.773,
 40.78804,
 40.791509000000005,
 40.809323,
 40.821259999999995,
 40.837885,
 41.028611,
 41.0336731,
 41.11037,
 41.1849445,
 41.211022,
 41.4435,
 41.5017,
 41.52261,
 41.575549,
 41.591947999999995,
 41.68229,
 41.699,
 41.79319]

In [293]:
sorted(df_notna['Lon'].unique())

[-124.19953999999998,
 -123.88658000000001,
 -123.6986222,
 -123.63784109999999,
 -123.48018,
 -123.437051,
 -123.3965,
 -123.262437,
 -123.21318000000001,
 -123.2111007,
 -123.12461,
 -123.021635,
 -123.013667,
 -122.97693000000001,
 -122.94111111,
 -122.84735900000001,
 -122.84722222,
 -122.84057,
 -122.836701,
 -122.792645,
 -122.69296000000001,
 -122.67299999999999,
 -122.65813,
 -122.637037,
 -122.56656000000001,
 -122.54981599999999,
 -122.536406,
 -122.50124609999999,
 -122.49745,
 -122.48525,
 -122.4393,
 -122.43905,
 -122.42735800000001,
 -122.40363400000001,
 -122.39033,
 -122.38453200000001,
 -122.37828,
 -122.35966299999998,
 -122.34200000000001,
 -122.25471,
 -122.22275,
 -122.205628,
 -122.18101999999999,
 -122.15631299999998,
 -122.14863999999999,
 -122.12447,
 -122.10431399999999,
 -122.09793300000001,
 -122.042199,
 -122.03820800000001,
 -122.00281100000001,
 -121.876277,
 -121.851895,
 -121.79348999999999,
 -121.726223,
 -121.68465,
 -121.68181000000001,
 -121.6415,
 -121.633994,
 -121.62161,
 -121.62023799999999,
 -121.604579,
 -121.60037,
 -121.595225,
 -121.59374,
 -121.57406999999999,
 -121.56750500000001,
 -121.54475,
 -121.53976000000002,
 -121.53523999999999,
 -121.50153200000001,
 -121.477,
 -121.47273,
 -121.45371999999999,
 -121.45098200000001,
 -121.4319,
 -121.42113,
 -121.39086200000001,
 -121.38178,
 -121.37993999999999,
 -121.378879,
 -121.340239,
 -121.33956,
 -121.33588999999999,
 -121.32361000000002,
 -121.318472,
 -121.30435,
 -121.2199939,
 -121.21911999999999,
 -121.20828,
 -121.201927,
 -121.18355,
 -121.18018000000001,
 -121.172572,
 -121.17197,
 -121.16483000000001,
 -121.12381,
 -121.10411,
 -121.10329899999999,
 -121.101634,
 -121.100352,
 -121.08753,
 -121.086625,
 -121.0781,
 -121.044895,
 -121.04401000000001,
 -121.03923600000002,
 -121.006635,
 -121.003602,
 -120.988571,
 -120.96758999999999,
 -120.964726,
 -120.941267,
 -120.92925,
 -120.92329299999999,
 -120.88943799999998,
 -120.87858,
 -120.87654599999999,
 -120.87053999999999,
 -120.86375,
 -120.85673100000001,
 -120.85258,
 -120.81508999999998,
 -120.801074,
 -120.76325800000001,
 -120.757,
 -120.72958,
 -120.70523999999999,
 -120.69958999999999,
 -120.68326,
 -120.64541000000001,
 -120.56823,
 -120.549595,
 -120.54161,
 -120.536,
 -120.52193,
 -120.49391999999999,
 -120.49159399999999,
 -120.48889199999999,
 -120.47346,
 -120.44811000000001,
 -120.427342,
 -120.40456999999999,
 -120.39399999999999,
 -120.37451399999999,
 -120.3291855,
 -120.31256499999999,
 -120.29378999999999,
 -120.288882,
 -120.28867,
 -120.28147,
 -120.28138899999999,
 -120.21545400000001,
 -120.20316000000001,
 -120.17183,
 -120.143473,
 -120.12432959999998,
 -120.106407,
 -120.08521999999999,
 -120.053275,
 -120.04635,
 -120.02587199999999,
 -120.00521,
 -120.00485,
 -119.98756499999999,
 -119.982359,
 -119.95806999999999,
 -119.932391,
 -119.93221000000001,
 -119.9252132,
 -119.88673,
 -119.88048,
 -119.869,
 -119.81098,
 -119.74577,
 -119.5795,
 -119.568,
 -119.50307,
 -119.46778,
 -119.44497700000001,
 -119.36572,
 -119.33438999999998,
 -119.261175,
 -119.2439,
 -119.19677,
 -119.17808000000001,
 -119.11653600000001,
 -119.07799999999999,
 -119.027309,
 -119.010655,
 -119.00289,
 -118.92967,
 -118.8613,
 -118.845123,
 -118.7933,
 -118.77346999999999,
 -118.75896499999999,
 -118.72004,
 -118.71113500000001,
 -118.70273200000001,
 -118.6894,
 -118.59698999999999,
 -118.53361000000001,
 -118.49731000000001,
 -118.46115,
 -118.45200000000001,
 -118.4,
 -118.36411000000001,
 -118.328877,
 -118.324601,
 -118.21608,
 -117.910498,
 -117.889503,
 -117.77856100000001,
 -117.675067,
 -117.674967,
 -117.65718999999999,
 -117.62109,
 -117.51793,
 -117.51476000000001,
 -117.47166000000001,
 -117.461925,
 -117.46036000000001,
 -117.45478999999999,
 -117.429598,
 -117.40906000000001,
 -117.37581000000002,
 -117.37441899999999,
 -117.34933999999998,
 -117.32823400000001,
 -117.25023,
 -117.19214199999999,
 -117.13807800000001,
 -117.124353,
 -117.10842099999999,
 -117.05146299999998,
 -117.03459,
 -117.03446100000001,
 -117.033124,
 -117.02411399999998,
 -116.98669,
 -116.97556999999999,
 -116.9617,
 -116.9075,
 -116.89655,
 -116.83551999999999,
 -116.7862,
 -116.77048,
 -116.750925,
 -116.7464168,
 -116.692705,
 -116.690712,
 -116.68386000000001,
 -116.641846,
 -116.524014,
 -115.96593999999999,
 -115.5865,
 -86.8616,
 -80.49163]

Check for out of bound values

In [294]:
df_notna[df_notna['Lat']<0]

     index        Name        Lat        Lon       Date
240    167  Texas Fire -118.46115 -118.46115 2020-08-06

Switch Lat/Long values if they are obviously swapped

In [218]:
#df_notna.loc[222,'Lat']=34.015742
#df_notna.loc[222,'Lon']=-117.337331
#df_notna.loc[370,'Lat']=33.939428	
#df_notna.loc[370,'Lon']=-117.138741

In [302]:
#print(df_notna.loc[[92]])
#print(df_notna.loc[[61]])

In [295]:
df_notna[df_notna['Lon']>-114]

     index          Name       Lat       Lon       Date
73      21    Creek Fire  35.99940 -86.86160 2020-05-30
123     58  Hopland Fire  39.14783 -80.49163 2020-06-13

In [301]:
#df_notna.loc[56,'Lon']=-118.9082
#print(df_notna.loc[[56]])

Drop Lat/Longs that don't make sense

In [296]:
df_notna=df_notna.drop([240,73,123])

In [264]:
len(df_notna)

263

Recheck values

In [297]:
sorted(df_notna['Lat'].unique())

[32.580882,
 32.62212,
 32.73044,
 32.75277778,
 32.765615000000004,
 32.93432,
 33.27665,
 33.37579,
 33.40047,
 33.454896000000005,
 33.48429,
 33.551838000000004,
 33.565093,
 33.623968,
 33.638067,
 33.65263,
 33.73614,
 33.743842,
 33.764357000000004,
 33.773754,
 33.776033,
 33.782532,
 33.78275,
 33.82925,
 33.83167,
 33.861053999999996,
 33.877257,
 33.88831,
 33.893351,
 33.924085999999996,
 33.93244,
 33.93327,
 33.934137,
 33.969570000000004,
 33.99139,
 34.01389,
 34.014728000000005,
 34.028116,
 34.033429999999996,
 34.044470000000004,
 34.08056,
 34.135626,
 34.146195,
 34.160265,
 34.173629999999996,
 34.182435999999996,
 34.25143,
 34.29475,
 34.336220000000004,
 34.3428,
 34.39464,
 34.438759000000005,
 34.46182,
 34.467915000000005,
 34.47438,
 34.51853,
 34.542742,
 34.563,
 34.63309,
 34.65979,
 34.679,
 34.75844,
 34.773809,
 34.93442,
 34.93929,
 34.962524,
 35.143570000000004,
 35.17977,
 35.27678,
 35.30742,
 35.308259,
 35.310132,
 35.34237,
 35.351065000000006,
 35.351459999999996,
 35.393889,
 35.40953,
 35.430440000000004,
 35.43128,
 35.433519700000005,
 35.472114000000005,
 35.519723,
 35.61521,
 35.629059999999996,
 35.69993,
 35.891329999999996,
 35.90835,
 35.9497,
 35.94979,
 35.9789,
 36.075003,
 36.09493,
 36.09876,
 36.2644,
 36.3011,
 36.37085,
 36.4463,
 36.5537,
 36.60239,
 36.653,
 36.69845,
 36.750186,
 36.822759999999995,
 36.90933,
 36.967854200000005,
 36.97511,
 37.034839,
 37.06641,
 37.080529999999996,
 37.083806,
 37.091637,
 37.11715,
 37.11806,
 37.118075,
 37.135474,
 37.1487,
 37.166733,
 37.171620000000004,
 37.18725,
 37.19147,
 37.229703,
 37.329163,
 37.377309999999994,
 37.40827,
 37.423190000000005,
 37.439437,
 37.46265,
 37.463636,
 37.463770000000004,
 37.518879,
 37.536015,
 37.61955,
 37.640440000000005,
 37.719840000000005,
 37.813779,
 37.82066,
 37.821737,
 37.919382,
 37.977309000000005,
 37.98337,
 37.994368,
 38.018089,
 38.027921,
 38.029959999999996,
 38.03106,
 38.07741,
 38.082640000000005,
 38.183,
 38.196892999999996,
 38.216134000000004,
 38.21614,
 38.224849,
 38.22554,
 38.232281,
 38.234320000000004,
 38.403290000000005,
 38.420382000000004,
 38.424015999999995,
 38.464074,
 38.470809,
 38.474502,
 38.48193,
 38.49375,
 38.51474,
 38.520981,
 38.561840000000004,
 38.56295,
 38.568000000000005,
 38.58488,
 38.659387,
 38.686478,
 38.697834,
 38.733421,
 38.81111,
 38.824371,
 38.827754999999996,
 38.840068,
 38.8825,
 38.89178,
 38.89695,
 38.98487,
 38.99,
 39.009454,
 39.012743,
 39.013591,
 39.10112,
 39.11307,
 39.1296,
 39.181047,
 39.275999999999996,
 39.29241,
 39.31313,
 39.325959999999995,
 39.35498,
 39.3637,
 39.36894,
 39.37577,
 39.3784,
 39.42208,
 39.43227,
 39.45493,
 39.4935,
 39.506597,
 39.516940000000005,
 39.52408,
 39.52452,
 39.555943,
 39.647686,
 39.6923001,
 39.702438,
 39.716713,
 39.75638899,
 39.774968,
 39.775999999999996,
 39.8174372,
 39.82454,
 39.922415,
 40.000132,
 40.09554,
 40.09571,
 40.274,
 40.33583333,
 40.34659,
 40.36764,
 40.388690000000004,
 40.41486,
 40.420885999999996,
 40.43203,
 40.44793,
 40.462621,
 40.476459999999996,
 40.511092,
 40.53927,
 40.55823,
 40.590714,
 40.62155,
 40.63442,
 40.773,
 40.78804,
 40.791509000000005,
 40.809323,
 40.821259999999995,
 40.837885,
 41.028611,
 41.0336731,
 41.11037,
 41.1849445,
 41.211022,
 41.4435,
 41.5017,
 41.52261,
 41.575549,
 41.591947999999995,
 41.68229,
 41.699,
 41.79319]

In [298]:
sorted(df_notna['Lon'].unique())

[-124.19953999999998,
 -123.88658000000001,
 -123.6986222,
 -123.63784109999999,
 -123.48018,
 -123.437051,
 -123.3965,
 -123.262437,
 -123.21318000000001,
 -123.2111007,
 -123.12461,
 -123.021635,
 -123.013667,
 -122.97693000000001,
 -122.94111111,
 -122.84735900000001,
 -122.84722222,
 -122.84057,
 -122.836701,
 -122.792645,
 -122.69296000000001,
 -122.67299999999999,
 -122.65813,
 -122.637037,
 -122.56656000000001,
 -122.54981599999999,
 -122.536406,
 -122.50124609999999,
 -122.49745,
 -122.48525,
 -122.4393,
 -122.43905,
 -122.42735800000001,
 -122.40363400000001,
 -122.39033,
 -122.38453200000001,
 -122.37828,
 -122.35966299999998,
 -122.34200000000001,
 -122.25471,
 -122.22275,
 -122.205628,
 -122.18101999999999,
 -122.15631299999998,
 -122.14863999999999,
 -122.12447,
 -122.10431399999999,
 -122.09793300000001,
 -122.042199,
 -122.03820800000001,
 -122.00281100000001,
 -121.876277,
 -121.851895,
 -121.79348999999999,
 -121.726223,
 -121.68465,
 -121.68181000000001,
 -121.6415,
 -121.633994,
 -121.62161,
 -121.62023799999999,
 -121.604579,
 -121.60037,
 -121.595225,
 -121.59374,
 -121.57406999999999,
 -121.56750500000001,
 -121.54475,
 -121.53976000000002,
 -121.53523999999999,
 -121.50153200000001,
 -121.477,
 -121.47273,
 -121.45371999999999,
 -121.45098200000001,
 -121.4319,
 -121.42113,
 -121.39086200000001,
 -121.38178,
 -121.37993999999999,
 -121.378879,
 -121.340239,
 -121.33956,
 -121.33588999999999,
 -121.32361000000002,
 -121.318472,
 -121.30435,
 -121.2199939,
 -121.21911999999999,
 -121.20828,
 -121.201927,
 -121.18355,
 -121.18018000000001,
 -121.172572,
 -121.17197,
 -121.16483000000001,
 -121.12381,
 -121.10411,
 -121.10329899999999,
 -121.101634,
 -121.100352,
 -121.08753,
 -121.086625,
 -121.0781,
 -121.044895,
 -121.04401000000001,
 -121.03923600000002,
 -121.006635,
 -121.003602,
 -120.988571,
 -120.96758999999999,
 -120.964726,
 -120.941267,
 -120.92925,
 -120.92329299999999,
 -120.88943799999998,
 -120.87858,
 -120.87654599999999,
 -120.87053999999999,
 -120.86375,
 -120.85673100000001,
 -120.85258,
 -120.81508999999998,
 -120.801074,
 -120.76325800000001,
 -120.757,
 -120.72958,
 -120.70523999999999,
 -120.69958999999999,
 -120.68326,
 -120.64541000000001,
 -120.56823,
 -120.549595,
 -120.54161,
 -120.536,
 -120.52193,
 -120.49391999999999,
 -120.49159399999999,
 -120.48889199999999,
 -120.47346,
 -120.44811000000001,
 -120.427342,
 -120.40456999999999,
 -120.39399999999999,
 -120.37451399999999,
 -120.3291855,
 -120.31256499999999,
 -120.29378999999999,
 -120.288882,
 -120.28867,
 -120.28147,
 -120.28138899999999,
 -120.21545400000001,
 -120.20316000000001,
 -120.17183,
 -120.143473,
 -120.12432959999998,
 -120.106407,
 -120.08521999999999,
 -120.053275,
 -120.04635,
 -120.02587199999999,
 -120.00521,
 -120.00485,
 -119.98756499999999,
 -119.982359,
 -119.95806999999999,
 -119.932391,
 -119.93221000000001,
 -119.9252132,
 -119.88673,
 -119.88048,
 -119.869,
 -119.81098,
 -119.74577,
 -119.5795,
 -119.568,
 -119.50307,
 -119.46778,
 -119.44497700000001,
 -119.36572,
 -119.33438999999998,
 -119.261175,
 -119.2439,
 -119.19677,
 -119.17808000000001,
 -119.11653600000001,
 -119.07799999999999,
 -119.027309,
 -119.010655,
 -119.00289,
 -118.92967,
 -118.8613,
 -118.845123,
 -118.7933,
 -118.77346999999999,
 -118.75896499999999,
 -118.72004,
 -118.71113500000001,
 -118.70273200000001,
 -118.6894,
 -118.59698999999999,
 -118.53361000000001,
 -118.49731000000001,
 -118.45200000000001,
 -118.4,
 -118.36411000000001,
 -118.328877,
 -118.324601,
 -118.21608,
 -117.910498,
 -117.889503,
 -117.77856100000001,
 -117.675067,
 -117.674967,
 -117.65718999999999,
 -117.62109,
 -117.51793,
 -117.51476000000001,
 -117.47166000000001,
 -117.461925,
 -117.46036000000001,
 -117.45478999999999,
 -117.429598,
 -117.40906000000001,
 -117.37581000000002,
 -117.37441899999999,
 -117.34933999999998,
 -117.32823400000001,
 -117.25023,
 -117.19214199999999,
 -117.13807800000001,
 -117.124353,
 -117.10842099999999,
 -117.05146299999998,
 -117.03459,
 -117.03446100000001,
 -117.033124,
 -117.02411399999998,
 -116.98669,
 -116.97556999999999,
 -116.9617,
 -116.9075,
 -116.89655,
 -116.83551999999999,
 -116.7862,
 -116.77048,
 -116.750925,
 -116.7464168,
 -116.692705,
 -116.690712,
 -116.68386000000001,
 -116.641846,
 -116.524014,
 -115.96593999999999,
 -115.5865]

Drop index columns

In [299]:
df_notna.reset_index().drop(['level_0','index'],axis=1)

              Name        Lat         Lon       Date
0         166 Fire  34.934420 -119.579500 2020-08-03
1         257 Fire  41.443500 -120.870540 2020-11-17
2        3-19 Fire  39.276000 -123.013667 2020-08-18
3         3-2 Fire  35.519723 -120.801074 2020-08-16
4         4-8 Fire  39.555943 -122.501246 2020-08-17
..             ...        ...         ...        ...
252    Willow Fire  32.752778 -116.907500 2020-12-02
253   Willow Fire   37.994368 -122.002811 2020-06-06
254      Wood Fire  40.621550 -120.493920 2020-02-23
255  Woodward Fire  38.018089 -122.836701 2020-08-18
256      Zogg Fire  40.539270 -122.566560 2020-09-27

[257 rows x 4 columns]

Save to csv

In [300]:
df_notna.to_csv('/content/cali_2020_fire_points.csv', encoding='utf-8')